header {
  margin: 0 auto;
  text-align: center;
}

.block {
  width: 400px;
  height: 100px;
  background-color: gray;
  border: 1px solid black;
}

.large {
  height: 220px;
}

.row {
  display: flex;
  justify-content:space-between;
  gap: 20px;
  padding: 10px 20px;
  margin: 20px;
  background-color: lightgrey;
  border: 1px solid black;
}

.right, .left {
  display: flex;
  gap: 20px;
}

.fourth {
  justify-content: flex-end;
}

.fifth {
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}